# Write better PRs and commit messages
name: "Word Weasel"
on:
  workflow_call:
jobs:
  pr-weasel:
    name: "PR title & description"
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v6
      - run: |
          # Lint PR title and description for ambiguous words
          EXIT_CODE=0
          DESCRIPTION=$(cat '${{ github.event_path }}' | jq -r '.pull_request.title, .pull_request.body')
          for WORD in $(yq -r '.[]' <<<"$WORDLIST")
            do
            if [[ "$DESCRIPTION" =~ (^|[^a-zA-Z])"$WORD"([^a-zA-Z]|$) ]]
            then
              echo "::error::'$WORD' is too vague or ambiguous. Please rephrase."
              echo -e "> [!CAUTION] \n> '$WORD' is too vague or ambiguous. Please rephrase.\n\n" >> $GITHUB_STEP_SUMMARY
              export EXIT_CODE=1
            fi
          done
          exit $EXIT_CODE
        shell: bash
        env:
          WORDLIST: |
            - amend
            - clean
            - clearly
            - completely
            - correct
            - enhance
            - exceedingly
            - excellent
            - extremely
            - fairly
            - few
            - huge
            - improve
            - interestingly
            - largely
            - many
            - modernize
            - mostly
            - obviously
            - optimize
            - polish
            - proper
            - quite
            - refactor
            - relatively
            - remarkably
            - revise
            - rework
            - several
            - significantly
            - streamline
            - substantially
            - surprisingly
            - tidy
            - tiny
            - various
            - vast
            - very
